{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item</h1>

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Index</th>
                <td>{{ item.index }}</td>
            </tr>
            <tr>
                <th scope="row">Index_start_at</th>
                <td>{{ item.indexstartat }}</td>
            </tr>
            <tr>
                <th scope="row">Integer</th>
                <td>{{ item.integer }}</td>
            </tr>
            <tr>
                <th scope="row">Float</th>
                <td>{{ item.float }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th scope="row">Surname</th>
                <td>{{ item.surname }}</td>
            </tr>
            <tr>
                <th scope="row">Fullname</th>
                <td>{{ item.fullname }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ item.email }}</td>
            </tr>
            <tr>
                <th scope="row">Bool</th>
                <td>{% if item.bool %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('item_index') }}"><button type="button" class="btn btn-light">Back to the list</button></a></br>
            <a href="{{ path('item_edit', { 'index': item.index }) }}"><button type="button" class="btn btn-light">Edit</button></a>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-light">Delete</button>
            {{ form_end(delete_form) }}
    </ul>
{% endblock %}
